services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.nodejs
    container_name: custom_nodejs
    env_file:
      - ./nodejs/.env
    ports:
      - "3000:3000"
    restart: always
    volumes:
      - ./nodejs:/app
      - /app/node_modules
    depends_on:
      - redis

  redis:
    image: redis
    container_name: app_redis
    ports:
      - "6379:6379"
    restart: always
